body {
  margin:3em;
  background:#47a3da;
  font-family: "Arial";
  text-align: center;
}

header {
  margin: .5em;
}

h1 {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  margin: em;
  padding: 1em;
  text-align: center;
}

label{
  display:block;
  padding: .8em;
  text-transform: uppercase;
  font-size: .8em;
}

input {
  padding-left: .8em;
  padding: .5em;
  text-align: left;
  width: 1    5em;
}

::-webkit-input-placeholder{
  font-style:italic;
  color: #10689A;
  font-size: 1em;
  text-align: left;
  padding-left:1em;
}

input, textarea, select {
  border: 2px solid #eee;
  background: transparent;
  color: #eee;
  width: 35em;
}

.form {
  color: white;
}

 button {
   width:10em;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  text-transform:uppercase;
  background:#eee;
  color:#47a3da;
}
